body {
	background-color: black;
}

div {
	margin-top: 15px;
	text-align: center;
	color: green;
	font-family: Cubano;
}

p {
	margin-top: 5px;
	font-size: 12em;
}

button {
	width: 50%;
	height: 250px;
	font-size: 12em;
	font-family: Cubano;
	color: white;
	text-align: center;
	background-color: #555555;
	border-width: 8px;
}